.button-enviar {
  background-color: #00adb5;
  font-family: "Poppins";
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-radius: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .button-enviar {
    width: 100%;
  }
}

.button-enviar__img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
